<div class="rememberPassword-container">
  <div class="rememberPassword-card">
    <div class="rememberPassword-header">
      <img class="registerUser-logo" src="../../../../img/SB-sf.png" alt="Logo do Simula Bank">
      <h2>Informe seu Login</h2> 
      <p>Pode ser CPF ou Email</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="rememberPassword-form">
      <div class="input-group">
        <label for="login">Login</label>
        <input formControlName="rememberPassword" type="rememberPassword" id="rememberPassword" placeholder="000.000.000-00" required>
      </div>

      <div>
         <mat-error class="error-message">
          {{ error }}
        </mat-error>
      </div>

      <button type="submit" class="btn-rememberPassword">Enviar Email</button>

      <div class="rememberPassword-footer">
        <span>Não tem uma conta? <a href="registerUser">Cadastre-se</a></span>
      </div>
    </form>
  </div>
</div>